.container {
	background-color: lighten($orange, 20%);
	border: 1px solid darken($orange, 10%);
}

.row {
	background-color: lighten($red, 40%);
	border: 1px solid $red;
}

div[class^=col-md-] {
	position: relative;
	border: 1px solid rgba(55, 179, 147, .8);
	background-color: rgba(180, 248, 236, 1);

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: $gutter / 2;
		background-color: rgba(55, 179, 147, .5);
		display: block;
		top: 0;
		bottom: 0;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}
