.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}
.line-through{
	text-decoration: line-through;
}
.uppercase{
	text-transform: uppercase;
}
.fullwidth{
	width: 100%;
}