body::before {
	content: '';
	position: fixed;
	z-index: 999999;
	background-color: rgba(0,0,0,.7);
	color: $yellow;
	display: block;
	font-size: 12px;
	padding: 4px;
	top: 0;
	left: 0;

	@include rbp(xxxs) {
		content: 'xxxs';
	}

	@include rbp(xxs) {
		content: 'xxs';
	}

	@include rbp(xs) {
		content: 'xs';
	}

	@include rbp(sm) {
		content: 'sm';
	}

	@include rbp(md) {
		content: 'md';
	}

	@include rbp(lg) {
		content: 'lg';
	}

	@include rbp(xl) {
		content: 'xl';
	}
}
