$gutter: 20px;
$bp1: 768px; 	//old
$bp2: 992px; 	//old
$bp3: 1200px; 	//old


//MAIN VARIABLES

//breakpoints

$bpsm: 480px !global;
$bpmd: 720px !global;
$bplg: 960px !global;
$bpxl: 1140px !global;

//mixins breakpoints

$sm: 480px !global;
$md: 720px !global;
$lg: 960px !global;
$xl: 1140px !global;

//margin unit

$su: 1.5em;  	//24px

//fonts

$body-font-size: 16px;//sent to normalize.scss
$mainfont: "Helvetica Neue", "Arial", sans-serif;
$defaultfont: "Helvetica Neue", "Arial", sans-serif;
$altfont: "Helvetica Neue", "Arial", sans-serif;


//COLORS

//base

$red: #FC4C4C;
$green: #09C374;
$orange: #FF994C;
$blue: #0076FF;
$darkgray: #333333;
$mediumgray: #C5C5C5;
$lightgray: #DDDDDD;
$superlightgray: #EEEEEE;
$white: #FEFEFE;

//social

$facebook-blue: #5171a4;
$google-red: #D7422D;
$twitter-blue: #55ACEE;
$instagram-blue: #2B5C84;
$pinterest-red: #D01D15;

//customization

$background-color: #F8F8F8;
$body-color: #333333;
$link-color: #0076FF;
$faded: #AAAAAA;


