.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.underlined{
	text-decoration: underline;
}
.striked{
	text-decoration: line-through;
}